/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');



/* Root color variables for themes */
:root {
    --blue-1: #6da5f0;
    --blue-2: #589af2;
    --blue-3: #3989f1;
    --blue-4: #1c86a9;
    --grayish-blue: #9698a6;
    --shadow-blue: #61a4fe;
    --light-blue:#eaf3ff;
    --dark-blue:#173760 ;
    --light-bg:#ffffff;
    --dark-bg: #000000;
    --light-text: #000000;
    --dark-text: #ffffff;
}



#theme-toggle {
    position: relative;
    padding: 0.5rem; /* Adjust padding as needed */
}

/* Hide the moon icon in light theme */
#theme-toggle .fa-moon {
    display: none;
}

/* Align icons properly */
#theme-toggle i {
    font-size: 1.2rem; /* Adjust icon size if needed */
    transition: opacity 0.3s ease;
}

/* When dark theme is active, hide the sun icon and show the moon icon */
body.dark-theme #theme-toggle .fa-sun {
    display: none;
}

body.dark-theme #theme-toggle .fa-moon {
    display: inline;
}







/* Light theme styles */
body.light-theme {
    background-color: var(--light-bg);
    color: var(--light-text);
}

.navbar.light-theme {
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--blue-1); /* Updated to Blue-1 */
}

/* Nav links and brand title in light theme */
.navbar-brand.light-theme,
.nav-link.light-theme {
    color: var(--blue-1);
}

.nav-link.light-theme:hover {
    color: var(--blue-2);
}

.btn.light-theme {
    border-color: var(--blue-1);
    color: var(--blue-1);
}

/* Navbar toggle icon in light theme (fixed color encoding) */
.navbar-toggler-icon.light-theme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(109, 165, 240, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Dark theme styles */
body.dark-theme {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.navbar.dark-theme {
    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--blue-3); /* Updated to Blue-3 */
}

/* Nav links and brand title in dark theme */
.navbar-brand.dark-theme,
.nav-link.dark-theme {
    color: var(--blue-3);
}

.nav-link.dark-theme:hover {
    color: var(--blue-4);
}

.btn.dark-theme {
    border-color: var(--blue-4);
    color: var(--blue-4);
}

/* Navbar toggle icon in dark theme */
.navbar-toggler-icon.dark-theme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(57, 137, 241, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

















/* Section Styling */
h2.section-title{
    font-size: 3rem;
    font-family: 'Public Sans', sans-serif;
    color: var(--blue-1); 
}



.section-subtitle {
    font-family: 'Cedarville Cursive', cursive;
    font-size:1.5rem;
    color: var(--grayish-blue);
}








/* Button with Gradient for Light/Dark Themes */
.btn-custom {
    background: linear-gradient(45deg,#97c1fc, var(--blue-1), var(--blue-2));
    color: var(--light-bg);
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid var(--blue-1);
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    color:var(--light-blue);
    background: linear-gradient(45deg, #97c1fc, var(--blue-2),#97c1fc);
}

/* Button in Dark Theme */
body.dark-theme .btn-custom {
    background: linear-gradient(60deg, var(--blue-3), var(--dark-blue));
    border-color: var(--dark-blue);
}

body.dark-theme .btn-custom:hover {
    color: #000a1a;
    font-weight: 500;
    background: linear-gradient(60deg, var(--dark-blue), var(--shadow-blue),var(--dark-blue));
}














/* Hero Section Styling */
.hero {
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    background-color: var(--light-bg); 
    font-family: 'Public Sans', sans-serif;
}

/* Hero Card Text */
.hero-card {
    max-width: 500px;
    position: relative; 
    z-index: 1;
}

.hero-title {
    font-family: 'Public Sans', sans-serif;
    font-size: 3rem;
    color: var(--blue-1); 
}

.hero-text {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.5rem;
    color: var(--grayish-blue);
}



/* Image Styling with Shadow and Border */
.hero-img-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero-img {
    max-width: 350px;
    border: 2px solid var(--blue-1);
    box-shadow: 8px 8px var(--shadow-blue);
    border-radius: 5px; 
}

/* Dark theme image styling */
body.dark-theme .hero-img {
    border-color: var(--dark-blue);
    box-shadow: 8px 8px var(--dark-blue);
}

/* Background shapes */
.hero::before, .hero::after {
    content: '';
    position: absolute;
    background-color: var(--blue-1); 
    z-index: 0; 
    opacity: 0.4;
}

.hero::before {
    width: 150px;
    height: 150px;
    top: 30px;
    left: 50px;
    border-radius: 10%;
    transform: rotate(45deg); 
}

.hero::after {
    width: 200px;
    height: 200px;
    bottom: 50px;
    right: 100px;
    border-radius: 10%;
    transform: rotate(-30deg); 
}

/* Dark theme adjustments */
body.dark-theme .hero {
    background-color: var(--dark-bg); 
}

body.dark-theme .hero::before, body.dark-theme .hero::after {
    background-color: var(--blue-3); 
}

/* Switch image based on theme */
.hero-img {
    content: url('images/hero.png'); 
}

/* Dark theme image */
body.dark-theme .hero-img {
    content: url('images/hero_darktheme.png'); 
}

/* Responsive adjustments */
@media (min-width: 1024px) {
    .hero-img {
        max-width: 400px; 
    }

    .hero-card{
        align-self: center;
    }
}


@media (min-width: 768px){
    .hero-img {
        margin-top: 2rem; 
        max-width: 350px; 
    }
}


@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hero-card {
        margin-bottom: 20px;
    }

    .hero-img-box {
        order: 2;
    }

    .hero-img {
        max-width: 65%;
        height: auto;
        margin: 0 15rem;
    }
}


/* Social Media Icons Styling */
.social-icons {
    margin: 1rem 0; 
}

.social-icon {
    font-size: 1.2rem;
    color: var(--blue-1); 
    margin: 0 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: var(--blue-3);
}

/* Dark theme icons styling */
body.dark-theme .social-icon {
    color: var(--blue-3);
}

body.dark-theme .social-icon:hover {
    color: var(--dark-blue);
}


















/* About Section Styling */
.about {
    position: relative;
    background-color: var(--light-blue); 
    color: var(--light-text);
    overflow: hidden; 
    padding-top: 3rem;
}

body.dark-theme .about {
    background-color:var(--dark-blue);
}

/* About Card */
.about-card {
    background: transparent; 
    padding: 10px 20px 0;
    margin-bottom: 0; 
}

/* About Text */
.about-text {
    font-size: 1rem;
    line-height: 1.6;
    padding: 10px; 
}


/* Dark theme About Text */
body.dark-theme .about .about-card p {
    color: var(--light-blue)
}

/* About Photo */
.about-photo {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 6px solid var(--blue-1);
}

/* About Content Layout */
.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* For Medium and Larger Screens */
@media (min-width: 768px) {
    .about-content {
        flex-direction: row;
    }
}

/* For Smaller Screens */
@media (max-width: 767px) {
    .about-content {
        flex-direction: column; 
        align-items: center;
    }

    .about-photo {
        margin-bottom: 20px; 
    }
}








/* Education Section Styling */
.education {
    padding: 60px 0;
    color: var(--light-text);
    position: relative;
}

/* Blue Line Wrapper */
.line-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: var(--shadow-blue);
    z-index: 1;
}

/* Vertical Line */
.line {
    height: 100%;
    width: 4px;
    background-color: var(--blue-1);
    position: absolute;
    left: 0;
    top: 0;
}

/* Education Content */
.education-content {
    position: relative;
    padding-left: 30px; /* Space for the vertical blue line */
}

/* Education Cards */
.education-card {
    background: var(--light-blue); /* Light theme card background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transform: translateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* Card Content */
.card-content {
    position: relative;
    z-index: 2;
}

/* Card Title */
.card-title {
    font-size: 1.25rem;
    color: var(--blue-1);
    margin-bottom: 10px;
    font-weight: 700;
}

/* Card Subtitle */
.card-subtitle {
    font-size: 1rem;
    color: var(--grayish-blue);
    margin-bottom: 5px;
}

/* Date Range */
.date-range {
    font-size: 0.9rem;
    color: var(--grayish-blue);
}

/* Dark Theme Styles */
body.dark-theme .education {
    color: var(--dark-text);
}

body.dark-theme .education-card {
    background: var(--dark-blue); 
    color: #ffffff; 
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
}

body.dark-theme .card-title,
body.dark-theme .card-subtitle,
body.dark-theme .date-range {
    color: #ffffff; /* Dark theme card text color */
}

/* For Medium and Larger Screens */
@media (min-width: 768px) {
    .education-content {
        padding-left: 40px; /* Increased padding for larger screens */
    }
}







/* Skills Section Styling */
.skills-section {
    position: relative;
    padding: 60px 0;
    color: var(--text-color);
    overflow: visible; /* Ensure background shapes don't overflow */
}

.skills-section .section-title {
    color: var(--light-bg)
}


body.dark-theme .skills-section .section-title {
    color: var(--dark-bg)
}

/* Slanted Background */
.skills-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%; /* Cover the section fully */
    background: var(--light-blue); 
    background:#C5DBF9; 
    z-index: -1;
    transform: skewY(-10deg); /* Slant the background at top and bottom */
}


body.dark-theme  .skills-section::before {
    background: var(--dark-blue); 
}


/* Wrapper for skills list and background shapes */
.skills-wrapper {
    position: relative;
    z-index: 1;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills-list span {
    background-color: var(--light-bg); 
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

body.dark-theme .skills-list span {
    background-color: var(--dark-bg); 
}

.skills-list span:hover {
    background-color: var(--light-bg);
    color: var(--blue-1);
    transform: translateY(-5px);
}


body.dark-theme  .skills-list span:hover {
    color: var(--dark-blue);
}












/* Experience Section Styling */
.experience {
    padding: 60px 0;
}

/* Card Group Styling */
.experience-card-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media (min-width: 768px) {
    .experience-card-group {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .experience-card-group {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Card Styling */
.experience-card {
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid var(--blue-1);
}

body.dark-theme .experience-card {
    border: 2px solid var(--dark-blue);
}

.experience-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background-color: var(--light-blue);
}

body.dark-theme .experience-card:hover {
    box-shadow: 0 8px 24px rgba(255, 255, 255, 0.2);
    background-color: var(--dark-blue);
}

.card-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.date-range {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.7;
}








/* Projects Section */
.projects-section {
    padding: 60px 0;
    background-color: var(--light-blue);
    color: var(--light-text);
}

.projects-section .section-title {
    margin-bottom: 10px;
}

.projects-section .section-subtitle {
    margin-bottom: 40px;
}

.project-card-group .card {
    background-color: var(--light-bg); 
    border: 1px solid var(--grayish-blue);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project-card-group .card:hover {
    transform: translateY(-2px);
}

.project-card{
    padding: 15px;
}

.project-image {
    height: 250px;
    object-fit: fill;
}

.cover-img {
    object-fit: cover;
}

.project-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-description {
    font-size: 14px;
    margin-bottom: 15px;
}


/* Dark theme styles for Projects Section */
.dark-theme .projects-section {
    background-color: var(--dark-blue);
}

.dark-theme .project-card-group .card {
    background-color: var(--dark-bg);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    border: 1px solid var(--grayish-blue);
}

.dark-theme .project-title {
    color: var(--dark-text);
}

.dark-theme .project-description {
    color: var(--dark-text);
}

.dark-theme .project-link {
    /* color: var(--dark-text); */
    border:1px solid var(--dark-blue);
} 


.dark-theme .project-link:hover {
    color: var(--dark-text);
    border-color: var(--dark-blue);
}











/* Awards/Interests */
/* General Styles for Awards and Interests Section */
.awards-interests-section {
    padding: 60px 0;
    background: linear-gradient(to bottom, var(--dark-bg), var(--dark-blue));
    color: var(--text-color);
    position: relative;
}

.awards-interests-section .container {
    position: relative;
    z-index: 1;
}

.awards-interests-section .row {
    display: flex;
    flex-wrap: wrap;
}

.awards-interests-section .col-md-6 {
    margin-bottom: 30px;
}

/* Awards Card */
.awards-card, .interests-card {
    background: var(--card-bg-light); /* Light theme card background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.awards-card h2, .interests-card h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--blue-1);
}

.awards-card h4, .interests-card h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--grayish-blue);
}

.awards-list, .interests-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.awards-list li, .interests-list li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px; 
}

.awards-list li::before, .interests-list li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--blue-1); 
    font-size: 20px; 
}


.awards-interests-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light-blue); 
    z-index: -1;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

/* Dark Theme Styles */
.dark-theme .awards-interests-section {
    background: linear-gradient(to bottom, var(--dark-bg), var(--dark-blue));
    color: var(--text-light);
}

.dark-theme .awards-card, .dark-theme .interests-card {
    background: var(--card-bg-dark);
}

.dark-theme .awards-card h2, .dark-theme .interests-card h2 {
    color: var(--blue-3);
}

.dark-theme .awards-card h4, .dark-theme .interests-card h4 {
    color: var(--light-gray);
}

.dark-theme .awards-list li, .dark-theme .interests-list li {
    color: var(--light-gray);
}

.dark-theme .awards-list li::before, .dark-theme .interests-list li::before {
    color: var(--blue-3); /* Match bullet color to title */
}














/* Horizontal line after the awards and interests section */
.section-divider {
    padding: 50px;
    opacity: 0.9;
    background-color: var(--light-blue); 
}

/* Dark theme adjustments */
body.dark-theme .section-divider {
    background-color: var(--dark-blue); 
}








/* Contact Section */
.contact-section {
    padding: 3rem 0;
    background-color: var(--light-bg);
    color: var(--light-text);
}

/* Form styling with floating labels */
.form-floating {
    position: relative;
    background-color: white; /* Light theme form background */
}

.form-floating label {
    position: absolute;
    font-weight:800;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    color: var(--blue-3); /* Label color for light theme */
}

.form-floating input, .form-floating textarea {
    border: none;
    border-bottom: 2px solid var(--blue-2); /* Border color for light theme */
    padding: 1rem 0 0.5rem;
    width: 100%;
    background-color: white; /* Input background for light theme */
    outline: none;
    border-radius: 0;
    color: var(--light-text); /* Input text color for light theme */
}

.form-floating input:focus, .form-floating textarea:focus {
    border-bottom-color: var(--blue-2); /* Focus border color */
    background-color: white; /* Ensures background remains white on focus */
}

.form-floating input:not(:placeholder-shown) + label,
.form-floating textarea:not(:placeholder-shown) + label,
.form-floating input:focus + label,
.form-floating textarea:focus + label {
    transform: translateY(-1.5rem);
    font-size: 0.85rem;
    color: var(--blue-2); /* Label color when active */
}

.form-floating input::placeholder,
.form-floating textarea::placeholder {
    opacity: 1;
}

/* Button styling */
.contact-section form .btn {
    background-color: var(--blue-2);
    color: #fff;
    transition: background-color 0.3s ease;
}

.contact-section form .btn:hover {
    background-color: var(--blue-3);
}

/* Dark theme */
.dark-theme .contact-section {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.dark-theme .form-floating {
    background-color: black; /* Dark theme form background */
}

.dark-theme .form-floating label {
    color: var(--blue-2); /* Label color for dark theme */
}

.dark-theme .form-floating input, 
.dark-theme .form-floating textarea {
    border-bottom: 2px solid var(--dark-blue); /* Border color for dark theme */
    background-color: black; /* Input background for dark theme */
    color: var(--dark-text); /* Input text color for dark theme */
}

.dark-theme .form-floating input:focus,
.dark-theme .form-floating textarea:focus {
    border-bottom-color: var(--dark-blue); /* Focus border color */
    background-color: black; /* Ensures background remains black on focus */
}

.dark-theme .form-floating input:not(:placeholder-shown) + label,
.dark-theme .form-floating textarea:not(:placeholder-shown) + label,
.dark-theme .form-floating input:focus + label,
.dark-theme .form-floating textarea:focus + label {
    color: var(--blue-2); /* Active label color in dark theme */
}

/* Autofill styles to prevent white background in both themes */
input:-webkit-autofill {
    background-color: white !important; /* Light theme autofill background */
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    color: var(--light-text) !important;
}

.dark-theme input:-webkit-autofill {
    background-color: black !important; /* Dark theme autofill background */
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
    color: var(--dark-text) !important;
}

.dark-theme input:-webkit-autofill::first-line {
    color: var(--dark-text) !important;
}
























/* Background shapes */
/* Contact Section */
.contact-section {
    position: relative;
}

/* Background shapes */
.contact-section::before, 
.contact-section::after,
.contact-section .shape1,
.contact-section .shape2,
.contact-section .shape3 {
    content: '';
    position: absolute;
    background-color: var(--blue-1); 
    z-index: 0; 
    opacity: 0.1; /* Reduced opacity */
    border-radius: 10%;
}

/* First shape */
.contact-section::before {
    width: 100px;
    height: 100px;
    top: 30px;
    left: 50px;
    transform: rotate(45deg); 
    opacity: 0.4;
}

/* Second shape */
.contact-section::after {
    width: 100px;
    height: 100px;
    margin:  5rem;
    bottom: 280px;
    right: 90px;
    transform: rotate(-45deg); 
}

/* Additional shapes */
.contact-section .shape1 {
    width: 150px;
    height: 150px;
    top: 80px;
    right: 222px;
    opacity: 0.3;
    background-color: var(--blue-2); 
    transform: rotate(60deg);
}

.contact-section .shape2 {
    width: 80px;
    height: 80px;
    bottom: 200px;
    left: 500px;
    opacity: 0.4;
    background-color: var(--blue-3); 
    transform: rotate(-15deg);
}


/* Dark theme adjustments */
body.dark-theme .contact-section {
    background-color: var(--dark-bg); 
}

body.dark-theme .contact-section::before,
body.dark-theme .contact-section::after,
body.dark-theme .contact-section .shape1,
body.dark-theme .contact-section .shape2 {
    background-color: var(--blue-3); 
}



@media (max-width: 768px) {
    .contact-section .shape2 {
        display: none;
    }
}
